*{
    box-sizing: border-box;
}
body {
    background-image: url("assets/bg-intro-desktop.png");
    background-color:hsl(0, 100%, 74%) ;
    color: white;
    font-size: 16px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    
}
